/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}


h2.entry-title {
	a {
	text-decoration: none;
	color: #DB272A;
}
}
#latest {
	display: flex;
	margin-left: 0;
	padding-left: 0;
}
ul.product-type {
	margin-left: 0;
	padding-left: 0;
	// display: flex;
}
li.product {
	width: 24%;
	height: 437px;
	display: inline-block;
}

li.latest {

    background-color: #fff;
    border: 1px solid #e1e1e1;
    flex: 1 0 25%;
    max-width: 25%;
}
ul {
	list-style-type: none;
}
